# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.slnx

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
[Tt]est[Rr]esult*/
*.trx

# Output files
*Out.xml
output.txt



